 <footer class="footer fixed-bottom">
          <div class="footer1">
              <div class="contacts-container">
            <p class="h1 contacts-label font-weight-bold">Контакты</p>
            <p class="contacts"><a href="mailto:slacktribe.msk@gmail.com"><span class="contacts_name font-weight-bold">email:&nbsp</span>slacktribe.msk@gmail.com</p></a>
            <p class="contacts"><a href="tel:+79687613943"><span class="contacts_name font-weight-bold">Телефон:&nbsp</span>+79687613943</p></a>
            <p class="contacts"><a href="https://vk.com/moscow.slack.tribe"><span class="contacts_name font-weight-bold">vk.com/</span>moscow.slack.tribe</a></p>
            <p class="contacts"><a href="https://facebook.com/moscow.slacktribe"><span class="contacts_name font-weight-bold">facebook.com/</span>moscow.slacktribe</a></p>
            <p class="contacts"><a href="https://www.instagram.com/slackline_tribe_moscow"><span class="contacts_name font-weight-bold">instagram.ru/</span>slackline_tribe_moscow</a></p>
            </div>
          </div>
          <img src="img/logochb.png" class="footer_logo">
          <div class="footer2">
            <DIV ID = "toTop" ><img src="img/totop.svg" alt="totop"></ DIV >
          </div>
      </footer>