<header class="header">
           <nav class=" navbar  navbar-expand-xl navbar-light bg-light container-fluid">
              <a class="navbar-brand logo align-middle" href="index.html" class="d-inline-block align-top"><img src="img/logo.png"></a>
              <div class="team " id="team">
                  <h3 class="name align-text-top">Slackline&nbspTribe</h3>
                  <motto class="motto">Your&nbspvibe&nbspattracts&nbspyour&nbsptribe</motto>
                  <ul class="social-icons">
                      <li><a href="https://vk.com/moscow.slack.tribe"><img src="img/vk.png"></a></li>
                      <li><a href="https://ru-ru.facebook.com/moscow.slacktribe/"><img src="img/facebook.png"></a></li>
                      <li><a href="https://www.instagram.com/slackline_tribe_moscow/"><img src="img/insta.png"></a></li>
                      <li><a href="mailto:slacktribe.msk@gmail.com"><img src="img/mail.png"></a></li>
                      <li><a href="tel:+79687613943"><img src="img/whatsapp.png"></a></li>
                  </ul>
              </div>
              
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav navul">
                  <li class="nav-item">
                    <a class="nav-link" href="index.html">О&nbspнас</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="training.html">Тренировки</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="event.html">Мероприятия</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="shop.html">Магазин</a>
                  </li>
                    <li class="nav-item"><button type="button" class="btn btn-dark subscribe-button" data-toggle="modal" data-target="#exampleModal">Написать нам</button>
                    </li>
                </ul>
              </div>
            </nav>
      </header>