    .header
{
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1040;

    display: flex;
    justify-content: space-between;

    width: 100%;

    background-color: white;
}
.nav-item_team
{
    display: none;
}
.nav-item_team > .team
{
    display: none;
}
.logo
{
    margin: auto 0;
    margin-right: 15px;
    img
    {
        height: 100px;
        
    }
    img:hover
    {
        opacity: .8;
    }
}
.team
{
    font-size: 1em;

    display: flex;
    flex-direction: column;

    margin: auto 0;

    justify-content: space-around;
    align-content: center;
    flex-wrap: nowrap;
    .name
    {
        font-weight: bold;

        display: flex;
        letter-spacing: 4px;
        flex-direction: row;

        text-transform: uppercase;

        justify-content: center;
    }
    .motto
    {
        font-size: .9em;

        display: flex;
        flex-direction: row;

        justify-content: center;
    }
    .social-icons
    {
        display: flex;
        flex-direction: row;

        justify-content: space-around;
        align-content: flex-end;
        li
        {
            display: inline-block;
            a
            {
                img
                {
                    height: 35px;

                    opacity: .7;
                }
                img:hover
                {
                    opacity: 1;
                }
            }
        }
    }
}
.active {
    color: black;
    font-weight: 900;
    letter-spacing: 2px;
    opacity: 1;
}
.navbar-collapse {
    justify-content: flex-end;
}
.navul
{
    font-size: 1.04em;

    display: flex;
    flex-direction: row;

    width: 90%;

    align-content: center;
    justify-content: space-between;
    li
    {
        display: flex;

        margin-left: 20px;

        flex-wrap: nowrap;

        .subscribe-button
        {
            font-size: 1em;

            width: 160px;
            height: 80px;
            margin: auto 0 auto 0;

            text-align: center;
        }
        a
        {
            margin: auto;

            opacity: .8;
        }
        a:hover
        {
            opacity: 1;
        }
    }
}

@media screen and (max-width: 500px)
{
    .navbar > .team
    {
        display: none;
    }
}
// Большие девайсы (большие десктопы, < 1200px)
@media screen and (max-width: 1199.98px)
{
     .header
{
position: absolute;
}
    .team
{
 margin-left: -55px;
}
    .navul
    {
        font-size: 1.1em;

        display: flex;
        margin-top: -15px;
        flex-direction: column;

        width: 100%;

        align-content: center;
        justify-content: flex-start;
        li
        {
            display: flex;

            flex-wrap: nowrap;

            .subscribe-button
            {
                font-size: 1em;

                margin: 0 auto;
                width: 200px;
                height: 50px;

                text-align: center;
            }
            a
            {
                margin: auto;

                opacity: .8;
            }
            a:hover
            {
                opacity: 1;
            }
        }
    }
}
// Средние девайсы («таблетки», < 992px) 
@media screen and (max-width: 992px)
{
 .navul {
        margin-left: 0;
    }
}
// Малые девайсы («ландшафтные», < 768px)
@media screen and (max-width: 767.98px)
{

}
// Экстрамалые девайсы («телефоны», < 576px)
@media (max-width: 575.98px)
{
}