
.offers
{
    display: flex;
    flex-direction: column;

    width: 100%;

    text-align: center;



    justify-content: flex-start;
    align-content: center;
}
.offers_container
{
    background-color: rgba(255,255,255,.9);

    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.offer_black
{
    color: white;
    background-color: rgba(0,0,0,.8);
}
.offers_category
{
    display: flex;
    flex-direction: row;

    width: 100%;

    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.offers_category_name
{
    font-weight: bold;

    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 3.7em;
    margin: 30px auto;

    width: 100%;

    text-align: center;
}
.offers_item_name
{
    display: inline-block;
    width: 49%;
     font-size: 2em;
    text-align: center;


}
.offers_item_picture
{

    width: 49%;
    object-fit: scale-down;
    margin: 30px auto;

}
.offers_item_text
{
    font-size: 2em;

    display: flex;
}
.container_vk {
    width: 50%;
    height: 100%;
}
#vk_groups,
#vk_groups iframe {
     width: 100% !important;
}
@media screen and (max-width: 1199.98px)
{
.offers_category {
    
    flex-direction: column !important;
    justify-content: space-around;
    align-items: center;
}
    .container_vk {
    width: 100%;
    height: 100%;
}
.offers_item_name
{
    width: 100%;
}
.offers_item_picture
{
    width: 100%;
}
.offers_category_name
{
margin: 10px auto;
}
.offers_item_picture
{
margin: 10px auto;
}
.container_vk {
    margin: 10px auto;

}

}
// Средние девайсы («таблетки», < 992px) 
@media screen and (max-width: 992px)
{
    .offers_container {
    font-size: .9em;
}

}
// Малые девайсы («ландшафтные», < 768px)
@media screen and (max-width: 769.98px)
{
    .offers_container {
    font-size: .7em;
}

}
// Экстрамалые девайсы («телефоны», < 576px)
@media (max-width: 575.98px)
{
    .offers_container {
    font-size: .4em;
}
} 